<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Haply Robotics </title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <style>

		body {
			background: #66236A;
			color: white;
			font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 100;
		}	

		#thankyou, #confirmation {
			width: 250px;
			margin: 0 auto;
			/*border: 3px solid black;*/
			padding: 3px;
			text-align: center;
		}
		#thankyou {
			margin-top: 100px;
			margin-bottom: 5px;
		}

	</style>

</head>

<body>
	
	<div class="row" id="thankyou">
		<h1>THANK YOU</h1>
	</div>
	<div class="row" id="confirmation">
		<h4>You'll receive a confirmation email soon. </h4>
	</div>

</body>

</html>