<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Haply Robotics </title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <style>

		body {
			background: #282828;
			color: white;
			font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 100;
		}
		#thankyou {
			margin-top: 10%;
		}
		.col-lg-2 {
			border: 3px solid black;
			text-align: center;
			margin-top: 3px;
			padding: 8px;
			/*background: white;
			opacity: 0.7;
			color: black;*/
		}

	</style>

</head>

<body>
	
	<div class="row" id="thankyou">
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h2>THANK YOU</h2>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
	</div>
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			You'll receive a confirmation email soon. 
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			LOGO
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5"></div>
	</div> -->

</body>

</html>