<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Haply Robotics </title>

    <!-- bootstrap css -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- customized css -->
    <link href="{{ STATIC_URL }}css/landing.css" rel="stylesheet">

    <!-- custom fonts -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index">

    <!-- Top navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#page-top"> 
                    
                    <div id="haply-logo">
                        <img src="{{ STATIC_URL }}img/haply-design/logo-horizontal.png" width="210px" height="70px"/>
                    </div>

                    <!-- <div id="haply-title">Haply</div>  -->
                </a>
            </div>

            <!-- The toggle content -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio" id="technology">The Technology</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" id="team">The Team</a>
                    </li>   
                    <li class="page-scroll">
                        <a href="#contact" id="preorder"><div id="preorder-text">Pre-order</div></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Cool landing display area with little demo -->
    <header>
        <div class="container">
            <div class="row">
                <!-- Where the SVG will be appended --> 
                <div class="demo"></div>
            </div>

            <div class="row">
                <h3>Adding touch to technology to change the way we interact with our digital worlds</h3>
                <img id="d3-pic" src="{{ STATIC_URL }}img/haply-design/d3-demo.png" width="400" height="300"/>
            </div>
        </div>
    </header>

    <!-- The technology/about section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h2 id="tech-section-header">The Technology</h2>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br> 
             <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                    <p>
                        Haptics is the science of <span class="yellow-highlight">touch</span>. When you are interacting with objects in your day-to-day life, you are applying forces to those objects, but also receiving a force back. This feedback system allows us to feel the pull of a taught bow or the weight of a caught ball. 
                    </p>
                    <img src="{{ STATIC_URL }}img/haply-design/monitors-medium.png" id="monitors"/>
                    <div id="tech-break"></div>
                    <p>
                        We are introducing technology that recreates this sense of touch in virtual environments, such as a game on your tablet or a surgical simulation running on your computer. Our device, called the Haplet, is the world's first device to use force-feedback haptic technology on a co-located screen, which means you can use it on any kind of screen, such as your tablet, mobile phone, monitor or laptop screen. 
                    </p>

                    </div>
                    <div class="col-lg-2"></div>
               

            </div>
        </div>
    </section>

    <!-- Contact/beta test section -->
    <section id="contact">
        <div class="container">
            <!-- Preorder call to action! --> 
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h2 id="call-to-action">Sign up for our preorder!</h2>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <!-- The carousel of images --> 
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD1.png">
                        </div>

                        <div class="item">
                            <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD2.png">
                        </div>

                        <div class="item">
                            <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD3.png">
                        </div>

                        <div class="item">
                            <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD4.png">
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p id="call-to-action-text">

                        Sign up here to be on an advanced order list for our <a href="" data-toggle="modal" data-target="#kit-modal"><b><u>kit</u></b></a> - you'll be notified as soon as it's ready for pre-order! The kit comes with the Haplet, which easily clips on to your tablet or computer screen, usage instructions, an API, online support, and some demo apps to get you started. If you're a maker, you'll have a full suite of tools to tinker with the hardware and develop your own awesome happs. 

                    </p>
                    <p id="pricetag">$149.99</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <!-- Pre-order form --> 
                    <!-- <form name="sentMessage" id="contactForm" novalidate action="{% url 'bye' %}" method="post"> -->
                    <form action="/bye/" method="post">
                        {% csrf_token %}

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                               
                               <!-- The user's name --> 
                               <!--  <label>Name</label> -->
                                <input type="text" class="form-control" placeholder="Name" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>

                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">

                                <!-- The user's email address --> 
                                <!--  <label>Email Address</label> -->
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>

                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">

                                <!-- The user's message --> 
                                <!-- <label>Message</label> -->
                                <textarea rows="5" class="form-control" placeholder="Comments? Questions? Interested in beta testing? Please share!" id="message" data-validation-required-message="Please enter a message." name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <!-- The user's beta testing choice --> 
                            
                           <!--  <div class="col-lg-10 col-md-10 col-sm-6">
                                <p id="interested"> I am interested in beta testing! </p>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-6">
                                <div id="beta-check"><span class="glyphicon glyphicon-ok"></span>
                            </div> -->

                            <!-- Hidden input checkbox --> 
                            <!-- <input type="checkbox" id="actual-checkbox" name="beta" style="display:none"> -->

                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg" id="signup-button">Sign me up!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

        <!-- The team section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-center">
                    <h2 id="team-section-header">The Team</h2> <br>
                    <!-- <p> Haply is a group of dedicated tech enthusiasts and entrepreneurs with expertise in haptics, robotics, and engineering. The team is currently located in Montreal. Interested in collaborating? Shoot us an email at <span id="haply-email">team@haply.co</span>! </p> -->
                    <p> Haply is a group of dedicated tech enthusiasts and entrepreneurs with expertise in haptics, robotics, and engineering. The team is currently located in Montreal. Interested in collaborating? Shoot us an email at <span id="haply-email">haplyrobotics@gmail.com</span>! </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br>
            <div class="col-sm-3" id="colin" class="member">
                <div class="member-description" id="colin-description">
                    <br class="description-break">
                    Colin Gallacher, Co-founder<br>
                    Masters Robotics<br>
                    McGill University
                </div>
                <img src="{{ STATIC_URL }}img/colin-professional.png" class="img-responsive" id="colin-pic" alt="">
                <!-- <div class="member-name">Colin Gallacher, Co-founder</div> -->
                <div class="member-description-mobile">
                    Colin Gallacher, Co-founder<br>
                    Masters Robotics<br>
                    McGill University
                </div>
            </div>
            <div class="col-sm-3" id="arash" class="member">
                <div class="member-description" id="arash-description">
                    <br class="description-break">
                    Arash Mohtat, Co-founder<br>
                    PhD Haptics<br>
                    McGill University
                </div>
                <img src="{{ STATIC_URL }}img/arash-professional.png" class="img-responsive" id="arash-pic" alt="">
                <div class="member-description-mobile">
                    Arash Mohtat, Co-founder<br>
                    PhD Haptics<br>
                    McGill University
                </div>
            </div>
            <div class="col-sm-3" id="morgane" class="member">
                <div class="member-description" id="morg-description">
                    <br class="description-break">
                        Morgane Ciot, Co-founder<br>
                        BA&amp;S Computer Science<br>
                        McGill University
                </div>
                <img src="{{ STATIC_URL }}img/morgane-professional.png" class="img-responsive" id="morg-pic" alt="">
                <!-- <div class="member-name">Morgane Ciot, Co-founder</div> -->
                <div class="member-description-mobile">
                    Morgane Ciot, Co-founder<br>
                    BA&amp;S Computer Science<br>
                    McGill University
                </div>
            </div>
            <div class="col-sm-3" id="steve" class="member">
                <div class="member-description" id="steve-description">
                    <br class="description-break">
                    Steven Ding, Co-founder<br>
                    Masters Electrical Engineering<br>
                    McGill University
                </div>
                <img src="{{ STATIC_URL }}img/steve-professional.png" class="img-responsive" id="steve-pic" alt="">
                <!-- <div class="member-name">Steve Ding, Co-founder</div> -->
                <div class="member-description-mobile">
                    Steven Ding, Co-founder<br>
                    Masters Electrical Engineering<br>
                    McGill University
                </div>
            </div>
        </div>
    </section>

    <!-- Footer: location and more contact information -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4"></div>
                    <div class="footer-col col-md-4">
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.angel.co/haply-1" class="btn-social btn-outline"><i class="fa fa-fw fa-angellist"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                        <h5>Montreal, QC</h5>
                    </div>
                    <div class="footer-col col-md-4"></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Cadded model modal --> 
    <div class="modal fade" id="kit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="modal-close-sign">&times;</span></button>
                    <h4 class="modal-title">The Haplet</h4>
                </div>
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD1.png">
                            </div>

                            <div class="item">
                                <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD2.png">
                            </div>

                            <div class="item">
                                <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD3.png">
                            </div>

                            <div class="item">
                                <img class="cad" src="{{ STATIC_URL }}img/cadded-model/CAD4.png">
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!-- <br>
                    <ul class="list-group">
                        <li class="list-group-item">Specs</li>
                        <li class="list-group-item">Get</li>
                        <li class="list-group-item">Listed</li>
                        <li class="list-group-item">Here</li>
                        <li class="list-group-item">!</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- bootstrap -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- javascript plugin for header animation -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}js/classie.js"></script>
    <script src="{{ STATIC_URL }}js/cbpAnimatedHeader.js"></script>

    <!-- ball demo --> 
    <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.min.js"></script>
    <script src="{{ STATIC_URL }}js/ball_demo.js"></script>

    <!-- contact form validation and ajax -->
    <script src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>

    <!-- custom theme javascript -->
    <script src="{{ STATIC_URL }}js/freelancer.js"></script>

    <!-- Team member hover and checkbox functionality --> 
    <!-- This is bad, should just do this with css but wasn't working --> 
    <script type="text/javascript">

        /* Team member hover functionality */

        // Get the id of the description div 
        var description_id = function (obj) {
           return "#" + $(obj).attr("id").split("-")[0] + "-description"; 
        };

        // Show the team member's description 
        $(".img-responsive").hover(function () {
            $(description_id(this)).fadeIn("slow");
        });
        // Hide the team member's description
        $(".member-description").mouseout(function () {
           $(description_id(this)).fadeOut("slow");
        });

        /* Checkbox functionality */
        var checked = false;
        $("#beta-check").click(function () {
            // Uncheck 
            if (checked) {
                checked = false;
                $(".glyphicon-ok").removeClass("ok-active");
            }

            // Check
            else {
                checked = true;
                $(".glyphicon-ok").addClass("ok-active");
            }
            $("#actual-checkbox").click();
        });

    </script>

</body>

</html>
